.fondo-menus{
    background-color:#0077b6;
}

/*footerpegado abajo*/
html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  min-height: 100%;
}

body{
    background-color: #caf0f8;
}

footer{
    margin-top: -50px;
}

.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 300px;
    width: 300px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.imagen-inicio{
    max-width: 500px;
}
