.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: #33CCFF;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 2em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.container-seccion{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

.titulo{
    text-align: center;
    padding-top: 10px;
}

.imagen{
    max-width: 50%;
    float: left;
}

.container-texto{
    float:right;
    width: 45%;
}

.texto{
    text-align: justify;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}